<p-toast/>
<form [formGroup]="materialForm" (ngSubmit)="submit()">
  <p-floatlabel>
    <input id="name" formControlName="name" />
    <label for="name">Name</label>
  </p-floatlabel>

  <p-floatlabel>
  <select id="category" formControlName="category">
    <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
  </select>
    <label for="category">Category</label>
  </p-floatlabel>
  <p-floatlabel>
    <p-inputnumber class="p-form" inputId="quantity" id="quantity" formControlName="quantity" />
    <label for="quantity">Quantity</label>
  </p-floatlabel>
  <p-floatlabel>
    <input type="number" id="Price" formControlName="price" />
    <label for="Price">Price</label>
  </p-floatlabel>

  <select formControlName="unit">
    <option *ngFor="let unit of units" [value]="unit.id">{{ unit.name }}</option>
  </select>

  <select formControlName="location">
    <option *ngFor="let loc of locations" [value]="loc.id">{{ loc.name }}</option>
  </select>

  <input placeholder="Description" formControlName="description" />
  <button type="submit" [disabled]="!materialForm.dirty && !this.materialForm.valid">Add Material</button>
</form>
