<form [formGroup]="materialForm" (ngSubmit)="submit()">
    <input placeholder="Name" formControlName="name" />
    <input placeholder="Category" formControlName="category" />
    <input type="number" placeholder="Quantity" formControlName="quantity" />
    <input type="number" placeholder="Price" formControlName="price" />
    <input placeholder="Unit" formControlName="unit" />
    <input placeholder="Location" formControlName="location" />
    <input placeholder="Description" formControlName="description" />
    <button type="submit" [disabled]="!this.materialForm.dirty">Add Material</button>
  </form>
